.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.8rem;
    margin-top: 1.8rem;
}

.left-column { text-align: right; }
.right-column {
    text-align: left;
    margin-top: 1.5rem;
}

.profile-img {
    border: 3px solid var(--text-color);
    border-radius: 20px;
    width: 12.4rem;
    display: block;
    margin-left: auto;
    margin-bottom: 1.2rem;
}

.description {
    display: block;
    font-size: var(--font-size-small);
    opacity: 0.8;
    white-space: normal;
    overflow: visible;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .left-column, .right-column { text-align: center; }

    .right-column {
        margin-top: 0;
        display: block;
    }

    .profile-img {
        margin: 0 auto 20px auto;
    }
}
