{% extends "templates/layout.html" %}

{% block content %}
<main class="main-container">
    <header>
        <h1>Projects</h1>
    </header>

    <section class="projects-category">
        <ul class="project-list">
            <li class="project-item">
                <div class="project-meta">
                    <h3>Project One Name</h3>
                    <p>Short project description / introduction.</p>
                </div>
                <div class="project-actions">
                    <a href="#">Read More</a>
                    <a href="#">Self-Hosted Git</a>
                    <a href="#">GitHub</a>
                </div>
            </li>

            <li class="project-item">
                <div class="project-meta">
                    <h3>Project Two Name</h3>
                    <p>Short project description / introduction.</p>
                </div>
                <div class="project-actions">
                    <a href="#">Read More</a>
                    <a href="#">Self-Hosted Git</a>
                    <a href="#">GitHub</a>
                </div>
            </li>

            <li class="project-item">
                <div class="project-meta">
                    <h3>Other Project One</h3>
                    <p>A short one-line description.</p>
                </div>
                <div class="project-actions">
                    <a href="#">Read More</a>
                    <a href="#">Self-Hosted Git</a>
                    <a href="#">GitHub</a>
                </div>
            </li>
        </ul>
    </section>
</main>
{% endblock %}
